<h1>Page#planer</h1>
<table class="table table-bordered table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Leves</th>
    <th scope="col">Második</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @planers.each do |d| %>
    <tr>
      <th scope="row"><%= d.day  %></th>

      <td>
        <%= simple_form_for d do |f| %>
          <%= f.association :recepts, label: false %>

        <% end %>
      </td>
      <td>Husosbödön</td>
      <td>Mákosguba</td>

    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "mentés" , new_recept_path, class:"btn btn-success" %>
