<h1>New Recept</h1>

<%= render 'form', recept: @recept %>

<%= link_to 'Back', recepts_path, class:"btn btn-success mr-3" %>
<%= link_to "Új recept típus", recept_types_path, class:"btn btn-success"%> 
